{{define "articles"}}
    {{range index .Meta "articles"}}
        <div class="block">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{index .Meta "title"}}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{index .Meta "summary"}}

                        <p>
                            <a href="{{index .Meta "url"}}">Read more</a>
                        </p>
                    </div>
                </div>
                <footer class="card-footer">
                    <span class="tag is-dark card-footer-item">
                        <time datetime="2016-1-1">{{index .Meta "date"}}</time>
                    </span>

                    <span class="tag is-primary card-footer-item">
                        {{index .Meta "category"}}
                    </span>
                    
                    {{range index .Meta "tags"}}
                        <span class="tag is-info card-footer-item">
                            {{.}}
                        </span>
                    {{end}}
                </footer>
            </div>
        </div>
    {{end}}
{{end}}
