{{define "footer"}}
        <footer class="footer">
            <div class="content has-text-centered">
            <p>
                <a href="https://thomux.eu">
                    <span class="icon-text">
                        <span class="icon">
                            <img src="/images/thomux.svg">
                        </span>
                        <span>Thomux</span>
                    </span>
                </a>
                /
                Powered by <a href="https://bulma.io/">Bulma</a>
                /
                <a href="/page/impressum.html">Impressum</a>
            </p>
            </div>
        </footer>
{{end}}
