{{define "header"}}
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://thomux.eu">
                    <img src="/images/thomux.svg" width="28" height="28">
                    <span style="font-weight: bolder;">Thomux</span>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    {{range index .Structure "top"}}
                        {{if .Dropdown}}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link {{if .Current}}is-active{{end}}" href="{{.Url}}">
                                    {{.Name}}
                                </a>

                                <div class="navbar-dropdown">
                                    {{range .Childs}}
                                        {{if .Separator}}
                                            <hr class="navbar-divider">
                                        {{else}}
                                            <a class="navbar-item {{if .Current}}is-active{{end}}" href="{{.Url}}">
                                                {{.Name}}
                                            </a>
                                        {{end}}
                                    {{end}}
                                </div>
                            </div>
                        {{else}}
                            <a class="navbar-item {{if .Current}}is-active{{end}}" href="{{.Url}}">
                                {{.Name}}
                            </a>
                        {{end}}
                    {{end}}
                </div>

                <div class="navbar-end">
                    <a class="navbar-item" href="https://thomux.eu">
                        <img src="/images/thomux.svg" width="28" height="28">
                    </a>
                </div>
            </div>
        </nav>
{{end}}
