.page-content h1 {
    font-size: 200%;
}

.page-content h2 {
    font-size: 180%;
}

.page-content h3 {
    font-size: 160%;
}

.page-content h4 {
    font-size: 140%;
}

.page-content h5 {
    font-size: 120%;
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.page-content p {
    margin-bottom: 5px;
}

.page-content li {
    list-style-type: square;
    margin-left: 25px;
}    
