{{template "base" .}}

{{define "title"}}Articles{{end}}

{{define "main"}}
    <div class="block">
        <h1 class="title">
            Articles
        </h1>
    </div>

    {{template "articles" .}}
{{end}}
