{{template "base" .}}

{{define "title"}}{{.Title}}{{end}}

{{define "main"}}
    <div class="block">
        <h1 class="title">
            {{index .Meta "title"}}
        </h1>
    </div>

    {{template "articles" .}}
{{end}}
